@use "_prism/prism-diff.css";
@use "_prism/prism-base16-monokai.dark.css";
@use "_includes/lightbox2.scss";
@use "_includes/variables.scss" as *;

/* Global stylesheet */
* {
  box-sizing: border-box;
  font-family: $sans;
}

body {
  font-size: $font-size;
  background: $bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  text-transform: uppercase;

  a {
    font-family: $serif;
  }
}

main h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

header h1 {
  font-size: 1.125em;

  a {
    color: $font-color;
    border-bottom-width: 0;

    &:hover {
      border-bottom-width: 1px;
      border-bottom-color: $font-color;
    }
  }
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px dashed $link-color;
  line-height: 1em;
  display: inline-block;
}

code[class*=language-],
pre[class*=language-] {
  font-size: .9em;
}

p,
li {
  line-height: 2em;
}

hr {
  border: 0;
  border-bottom: 1px solid $border-color;
}

img {
  max-width: 100%;
  height: auto;
}


/* Layout */
body {
  max-width: 800px + ($font-size * 2);
  margin: 0 auto;
  padding: 0 $font-size
}


/* Navigation Menu & Header */
header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  border-bottom: 1px solid $border-color;
  padding: 1em 0;

  h1 {
    float: left;
    margin: 0;
  }
}

ul.nav {
  list-style-type: none;
  float: right;
  margin: 0;

  li {
    display: inline-block;
    padding-left: 1em;
    line-height: 1em;

    a {
      font-family: $serif;
      border-bottom: 0;
      color: $font-color;

      &:hover {
        color: $link-color;
      }
    }
  }
}

@media (max-width: 680px) {
  header {
    display: block;

    h1 {
      width: 100%;
      text-align: center;
      padding-bottom: 1em;
    }
  }

  ul.nav {
    float: none;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0;
    font-size: .9em;

    li:first-child {
      padding: 0;
    }
  }
}

/* Footer */
footer {
  border-top: 1px solid $border-color;
  padding: 1em 0;
  margin-top: 1em;
  font-size: .75em;

  .icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
    border: 0;
    margin-left: 1em;
    display: block;
    float: right;
  }
}

.github-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-width='0' fill='currentColor' d='M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z' /%3E%3C/svg%3E");
}

.li-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 291.319 291.319' style='enable-background:new 0 0 291.319 291.319;' xml:space='preserve'%3E%3Cpath style='fill:%230E76A8;' d='M145.659,0c80.45,0,145.66,65.219,145.66,145.66s-65.21,145.659-145.66,145.659S0,226.1,0,145.66 S65.21,0,145.659,0z'/%3E%3Cpath style='fill:%23FFFFFF;' d='M82.079,200.136h27.275v-90.91H82.079V200.136z M188.338,106.077 c-13.237,0-25.081,4.834-33.483,15.504v-12.654H127.48v91.21h27.375v-49.324c0-10.424,9.55-20.593,21.512-20.593 s14.912,10.169,14.912,20.338v49.57h27.275v-51.6C218.553,112.686,201.584,106.077,188.338,106.077z M95.589,100.141 c7.538,0,13.656-6.118,13.656-13.656S103.127,72.83,95.589,72.83s-13.656,6.118-13.656,13.656S88.051,100.141,95.589,100.141z'/%3E%3C/svg%3E");
}

/* Photo Gallery */
.photo-gallery {

  display: grid;
  grid-template-columns: 30% 30% 30%;
  max-width: 100%;
  gap: 1.5em 5%;

  a {
    // max-width: 33.3%;
    // float: left;
    border: none;
    text-align: center;

    img {
      max-height: 200px;
      width: auto;
      border: 2px solid $font-color;
      padding: 2px;
    }
  }
}


/* Post Lists */
.postlist {
  list-style-type: none;
  padding: 0;

  li {
    border-bottom: 1px solid $font-color;
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1em;

    &.wide-image {
      flex-wrap: wrap;

      .featured-image {
        flex-basis: 100%;
        // order: -1;
      }
    }

    .featured-image {
      text-align: right;
      // flex-basis: 50%;

      img {
        height: auto;
        width: auto;
        max-height: 100%;
        max-height: 300px;
      }
    }
  }

  .main-post {
    display: block;
    flex-basis: 50%;
    flex-grow: 1;
  }

  .postlist-link {
    font-weight: 700;
    border: none;
  }

  .postlist-date {
    display: block;
    font-style: italic;
  }

  .tags {
    display: block;

    a:last-child {
      margin: 0;
    }
  }
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em;
  /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em;
  /* 1px 4px /12 */
  margin-right: 0.6666666666667em;
  /* 8px /12 */
  // margin-top: 0.5em;
  /* 6px /12 */
  // margin-bottom: 0.5em;
  /* 6px /12 */
  color: $font-color;
  border: 1px solid $font-color;
  border-radius: 0.25em;
  /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;

  &:hover {
    border-color: $link-color;
    color: $link-color;
  }
}

.tags {
  display: block;
  margin-bottom: 1em;
  line-height: 2em;

  a:last-child {
    margin-right: 0;
  }
}


/* Single Posts */
.tmpl-post {
  h1 {
    display: inline-block;
  }

  time {
    font-style: italic;
    display: block;
  }

  .post-tag {
    vertical-align: middle;
  }

  .featured-image img {
    margin-top: 1em;
  }

  img {
    display: block;
    margin: 1em auto;
  }
}