<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}{% if post.data.wideImage %} wide-image{% endif %}">
    <span class="main-post">
      <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <span class="tags">
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {% endfor %}
      </span>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <p>{% excerpt post %}</p>
      <span class="readmore"><a href="{{ post.url | url }}">Read More</a></span>
    </span>
    {% if post.data.featuredImage %}<span class="featured-image">{% image "." + post.data.featuredImage, post.data.title %}</span>{% endif %}
  </li>
{% endfor %} 
</ol>
