@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//fonts
$sans: "Source Sans Pro";
$serif: "Source Code Pro";

$font-color: #222;
$font-size: 20px;
$link-color: #8a6408;

$bg-color: #f9f9f8;